{% extends "layout.html" %}

{% block postHeader %}
  <div class="large-12">
      <h2>{{ post.meta.title }}</h2>
      <img class="article-feature" src="{{post.meta.featureImage}}"/>
  </div> 
{% endblock %}

{% block content %}
    
      <article class="blog-post detail">  
        <div class="large-12 columns post-content">
          {{ post.html|safe }}
          <ul class="menu simple tags">
            {% for tag in post.meta.tags %}
              <li class="tag"><a href="/tags/{{tag}}">{{tag}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <hr/>
        <div class="row large-12 post-meta">

          <div class="small-10 medium-10 large-10 columns">
            <h5>Written by <a href="/authors/{{post.meta.author.shortname}}">{{post.meta.author.name}}</a> on {{post.meta.displayDate}}</h5>
            <div class="addthis_sharing_toolbox hide-for-medium-up no-print"></div>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=benreed"></script>
          </div> 
        </div>

      </article>
      <div class="large-12 columns">
        <div id="disqus_thread"></div>    
      </div>

    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}