{% extends "layout.html" %}

{% block hero %}

  {% import "macros.html" as macros %}

  {{ macros.hero(post.meta.title, post.meta.featureImage, post.meta.author.shortname, post.meta.displayDate,post.meta.tags ) }}

{% endblock%} 

{% block content %}  
      <div class="row medium-8 large-7 columns">
        <article class="blog-post detail">  
          <div class="large-12 columns post-content">          
            {{ post.html|safe }}
          </div>
          <hr/>
          <div class="row large-12 post-meta">

            <div class="author-avatar row large-12">
              <img src="{{post.meta.author.gravatarUrl}}" class="author"/>
              <h6>{{post.meta.author.name}}</h6>
            </div>

            <div class="share row large-12 full-width">
              <div class="addthis_sharing_toolbox hide-for-medium-up no-print"></div>
              <div class="addthis_inline_share_toolbox"></div>
            </div> 
          </div>

        </article>
        <div class="large-12 columns">
          <div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://diaryofus.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>

        
    </div>

{% endblock %}