<!DOCTYPE HTML>
<html>
	<head>
		<title>Diary of Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/css/foundation.min.css" />
		<link rel="stylesheet" href="/static/css/app.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<div class="off-canvas-wrapper">
	
			{% include "off-canvas-menu.html" %}

			<div class="off-canvas-content" data-off-canvas-content>
				<div id="main-content">
					<div id="hero">
						{% block hero%}{% endblock %}
						
					</div>
					{% block title %}{% endblock %}
					{% block content %}{% endblock %}
				</div>
				
				{% include "footer.html" %}

			<!-- End off canvas content -->
			</div>
		</div>

		<!-- Scripts -->

		<script src="/static/js/vendor/jquery.min.js"></script>
		<script src="/static/js/vendor/foundation.min.js"></script>
		<script src="/static/js/vendor/fastclick.js"></script>
		<script src="/static/js/vendor/modernizr.js"></script>
		<script src="/static/js/vendor/classie.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="/static/js/main.js"></script>
		<!-- Go to www.addthis.com/dashboard to customize your tools --> 
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58f9c03b957859a0"></script> 
	</body>
</html>