@import url("https://fonts.googleapis.com/css?family=Amatic+SC|PT+Sans|Vollkorn");
/* line 4, ../scss/typography.scss */
h1, h2, h3, h4, h5, h6, html, footer {
  font-family: "Vollkorn", serif;
  color: #403d34;
}
/* line 8, ../scss/typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, html a, footer a {
  color: #403d34;
}

/* line 13, ../scss/typography.scss */
p {
  font-size: 1.2em;
}

/* line 18, ../scss/typography.scss */
h1#site-title {
  font-family: "Amatic SC", cursive;
  text-align: center;
  color: #211931;
  font-size: 6em;
}

/* line 25, ../scss/typography.scss */
a {
  color: #ccb285;
}

/* line 29, ../scss/typography.scss */
.blog-post {
  font-family: "Vollkorn", serif;
  color: #403d34;
}
/* line 31, ../scss/typography.scss */
.blog-post h2 {
  color: #211931;
}
/* line 38, ../scss/typography.scss */
.blog-post .post-date {
  font-family: "PT Sans", sans-serif;
}
/* line 42, ../scss/typography.scss */
.blog-post .post-content {
  font-family: "Vollkorn", serif;
}

/* line 47, ../scss/typography.scss */
span.serif-italic {
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-size: 1em;
}

/* line 53, ../scss/typography.scss */
footer {
  font-family: "PT Sans", sans-serif;
}
/* line 55, ../scss/typography.scss */
footer h3 {
  color: #FFF;
}

/* line 6, ../scss/main.scss */
header .top-bar {
  background-color: rgba(39, 37, 33, 0.3);
}
/* line 8, ../scss/main.scss */
header .top-bar .menu {
  background: transparent;
}
/* line 11, ../scss/main.scss */
header .top-bar .menu li a {
  color: #FFF;
}

/* line 18, ../scss/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #EEEDEA;
  margin: 1em 0;
  padding: 0;
}

/* line 27, ../scss/main.scss */
ul.tags {
  margin: 8px 0px;
  border: none;
}
/* line 30, ../scss/main.scss */
ul.tags .tag {
  background-color: #EEEDEA;
  padding: 4px 8px 4px 8px;
  -moz-border-radius: 8px / 8px;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px / 8px;
}
/* line 36, ../scss/main.scss */
ul.tags .tag a {
  color: #403d34;
}

/* line 42, ../scss/main.scss */
footer {
  color: #FFF;
  background-color: #272521;
  padding: 20px 8px 20px 8px;
}
/* line 46, ../scss/main.scss */
footer a {
  color: #FFF;
}
/* line 51, ../scss/main.scss */
footer hr {
  border-top: 1px solid #353024;
}
/* line 55, ../scss/main.scss */
footer .bottom {
  min-height: 50px;
}
/* line 59, ../scss/main.scss */
footer .copyright {
  padding: 0.4rem 1rem;
  vertical-align: center;
}

/* line 66, ../scss/main.scss */
.list .blog-post {
  text-align: center;
}

/* line 71, ../scss/main.scss */
.blog-post {
  padding: 20px 8px 20px 8px;
}

/* line 76, ../scss/main.scss */
.blog-post.detail h2 {
  text-align: center;
}

/* line 81, ../scss/main.scss */
#hero {
  height: 400px;
}
/* line 84, ../scss/main.scss */
#hero #hero-image {
  position: relative;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  height: 100%;
}
/* line 90, ../scss/main.scss */
#hero #hero-image #post-title {
  position: absolute;
  bottom: 0;
  width: 70%;
  left: 50%;
}

/* line 102, ../scss/main.scss */
.post-meta {
  padding: 20px 0;
}
/* line 104, ../scss/main.scss */
.post-meta img.author {
  display: block;
  height: 75px;
  width: 75px;
  border-style: solid;
  border: 1px solid #353024;
  -moz-border-radius: 100px / 100px;
  -webkit-border-radius: 100px 100px;
  border-radius: 100px / 100px;
  margin: 0 auto;
}
