/* line 6, ../scss/main.scss */
header .top-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}
/* line 9, ../scss/main.scss */
header .top-bar .menu {
  background: transparent;
}
/* line 11, ../scss/main.scss */
header .top-bar .menu li a {
  color: #FFF;
}

/* line 18, ../scss/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #EEEDEA;
  margin: 1em 0;
  padding: 0;
}

/* line 27, ../scss/main.scss */
ul.tags {
  margin: 8px 0px;
  border: none;
}
/* line 30, ../scss/main.scss */
ul.tags .tag {
  background-color: #EEEDEA;
  padding: 4px 8px 4px 8px;
  -moz-border-radius: 8px / 8px;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px / 8px;
}
/* line 36, ../scss/main.scss */
ul.tags .tag a {
  color: #403d34;
}

/* line 42, ../scss/main.scss */
footer {
  color: #FFF;
  background-color: #272521;
  padding: 20px 8px 20px 8px;
}
/* line 46, ../scss/main.scss */
footer a {
  color: #FFF;
}
/* line 51, ../scss/main.scss */
footer hr {
  border-top: 1px solid #353024;
}
/* line 55, ../scss/main.scss */
footer .bottom {
  min-height: 50px;
}
/* line 59, ../scss/main.scss */
footer .copyright {
  padding: 0.4rem 1rem;
  vertical-align: center;
}

/* line 66, ../scss/main.scss */
.list .blog-post {
  text-align: center;
}

/* line 71, ../scss/main.scss */
.blog-post {
  padding: 20px 8px 20px 8px;
}

/* line 76, ../scss/main.scss */
.blog-post.detail h2 {
  text-align: center;
}

/* line 81, ../scss/main.scss */
#hero-image {
  box-sizing: border-box;
  padding: 30vw 0 0vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  background-color: #a0b9a0 !important;
}

/* line 90, ../scss/main.scss */
#hero-image, #hero-image:before {
  background-size: cover !important;
  background-position: 0px -50px !important;
  background-repeat: no-repeat !important;
}

/* line 96, ../scss/main.scss */
#hero-image::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100vh;
}

/* line 106, ../scss/main.scss */
#post-title {
  padding: 0.5vw;
  background: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  width: 75%;
}
/* line 112, ../scss/main.scss */
#post-title h2 {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: 2.5em;
}
/* line 119, ../scss/main.scss */
#post-title h6 {
  text-align: center;
  color: #bb976f;
  padding: 5px;
}

/* line 126, ../scss/main.scss */
.post-meta {
  padding: 20px 0;
}
/* line 128, ../scss/main.scss */
.post-meta img.author {
  display: block;
  height: 75px;
  width: 75px;
  border-style: solid;
  border: 1px solid #353024;
  -moz-border-radius: 100px / 100px;
  -webkit-border-radius: 100px 100px;
  border-radius: 100px / 100px;
  margin: 0 auto;
}
/* line 138, ../scss/main.scss */
.post-meta .author-avatar {
  width: 100px;
  margin: 0 auto;
  text-align: center;
}
/* line 142, ../scss/main.scss */
.post-meta .author-avatar h6 {
  padding: 10px;
}
/* line 147, ../scss/main.scss */
.post-meta .share {
  text-align: center;
}
