@import url("https://fonts.googleapis.com/css?family=Amatic+SC|PT+Sans|Vollkorn");
/* line 4, ../scss/typography.scss */
h1, h2, h3, h4, h5, h6, html, footer {
  font-family: "Vollkorn", serif;
  color: #403d34;
}
/* line 8, ../scss/typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, html a, footer a {
  color: #403d34;
}

/* line 13, ../scss/typography.scss */
p {
  font-size: 1.2em;
}

/* line 18, ../scss/typography.scss */
h1#site-title {
  font-family: "Amatic SC", cursive;
  text-align: center;
  color: #211931;
  font-size: 6em;
}

/* line 25, ../scss/typography.scss */
a {
  color: #ccb285;
}

/* line 29, ../scss/typography.scss */
.blog-post {
  font-family: "Vollkorn", serif;
  color: #403d34;
}
/* line 31, ../scss/typography.scss */
.blog-post h2 {
  color: #211931;
}
/* line 38, ../scss/typography.scss */
.blog-post .post-date {
  font-family: "PT Sans", sans-serif;
}
/* line 42, ../scss/typography.scss */
.blog-post .post-content {
  font-family: "Vollkorn", serif;
}

/* line 47, ../scss/typography.scss */
span.serif-italic {
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-size: 1em;
}

/* line 53, ../scss/typography.scss */
footer {
  font-family: "PT Sans", sans-serif;
}
/* line 55, ../scss/typography.scss */
footer h3 {
  color: #FFF;
}
