$sans-serif: 'PT Sans', sans-serif;
$serif: 'Vollkorn', serif;
$display: 'Amatic SC', cursive;

$body-text-colour: #403d34;
$link-colour: #ccb285;
$title-colour: rgb(33,25,49); 
$tag-background-colour: #EEEDEA;
$footer-colour: rgb(39, 37, 33);
$navigation-link-color: #FFF;
$transparent-white: rgba(256,256,256,0.9);
$hr-dark: #353024;
$hr-light: $tag-background-colour;

$navbar-colour: $transparent-white;

$off-canvas-bg-color: #272822;