@import "vars";
@import "compass/css3/border-radius";

html {
	height: 100%;
  overflow: hidden;
}

header {

	.top-bar {
		background-color: $navbar-colour;
		position: fixed;
		z-index: 999;
		width: 100%;
		.menu {
			background: transparent;
			
			li a {
				color: $navigation-link-color;
			}
		}
	}
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $tag-background-colour;
	margin: 1em 0;
	padding: 0; 
}

ul.tags {
	margin: 8px 0px;
	border: none;
	.tag {

		background-color: $tag-background-colour;
		padding: 4px 8px 4px 8px;
		@include border-radius(8px, 8px);

		a {
			color: $body-text-colour;
		}
	}
}

body {
	-webkit-perspective: 1px;
	perspective: 1px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

footer {
	color: $navigation-link-color;
	background-color: $footer-colour;
	
	a {
		color: $navigation-link-color;
	}
	padding: 20px 8px 20px 8px;

	hr {
		border-top: 1px solid #353024;
	}

	.bottom {
		min-height: 50px;
	}

	.copyright {
		padding: 0.4rem 1rem;
		vertical-align: center;
	}
}

.list {
	.blog-post {
		text-align: center;
	}
}

.blog-post {
	padding: 20px 8px 20px 8px;
}

.blog-post.detail {
	h2 {
		text-align:center;
	}
}

#hero-image {
	box-sizing: border-box;
  	padding: 30vw 0 0vw;
  	position: relative;
  	transform-style: inherit;
  	width: 100vw;
  	background-color: #a0b9a0 !important;
}

#hero-image, #hero-image:before {
  background-size: cover !important;
  background-position: 0px -50px !important;
  background-repeat: no-repeat !important;
}

#hero-image::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100vh;
}

#post-title {
	padding: 0.5vw;
	background: $transparent-white;
	margin: 0 auto;
	width: 75%;
	
	h2 {
		text-align: center;
		width: 90%;
		margin: 0 auto;
		font-size: 2.5em;
	}

	h6 {
		text-align: center;
		color: #bb976f;
		padding: 5px;
	}
}

.post-meta {
	padding: 20px 0;
	img.author {
		display:block;
		height: 75px;
		width: 75px;
		border-style: solid;
		border: 1px solid #353024;
		@include border-radius(100px, 100px);
		margin: 0 auto;
	}

	.author-avatar {
		width: 100px;
		margin: 0 auto;
		text-align: center;
		h6 {
			padding: 10px;
		}
	}

	.share {
		text-align:center;
	}
}

#main-content {
	z-index: 10;
}